@use "style/colors";

.text {
  transition: color 300ms;

  &_typography {
    &_text {
      &-m {
        font-size: 14px;
      }

      &-s {
        font-size: 12px;
      }
    }

    &_heading {
      &-m {
        font-size: 22px;
      }

      &-xl {
        font-size: 40px;
      }
    }

    &_label {
      &-m {
        font-size: 12px;
      }

      &-l {
        font-size: 14px;
      }

      &-xl {
        font-size: 16px;
      }
    }
  }

  &_color {
    &_primary {
      @include colors.themed-color('fg-primary') using ($color) {
        color: $color;
      }
    }

    &_secondary {
      @include colors.themed-color('fg-secondary') using ($color) {
        color: $color;
      }
    }

    &_error {
      @include colors.themed-color('fg-error') using ($color) {
        color: $color;
      }
    }
  }

  &_weight {
    &_normal {
      font-weight: 400;
    }

    &_bold {
      font-weight: 700;
    }
  }

  &_align {
    &_left {
      text-align: left;
    }

    &_center {
      text-align: center;
    }

    &_right {
      text-align: right;
    }
  }
}
