@use "style/colors";

.header {
  transition: background 300ms;
  display: flex;
  padding: 10px;
  justify-content: flex-end;

  @include colors.themed-bg(2) using ($color) {
    background: $color;
  }

  &__switch-theme {
    margin-left: 10px;
  }
}
