@use "sass:list";
@use "style/colors";

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.select {
  $r: &;
  cursor: pointer;

  &__active-option-container {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    transition: background 300ms, color 300ms;
    min-width: 60px;

    @include colors.themed-bg(3) using ($color) {
      border: 1px solid $color;
    }

    @include colors.themed-color('fg-primary') using ($color) {
      color: $color;
    }

    &:hover {
      @include colors.themed-bg(4) using ($color) {
        border: 1px solid $color;
      }
    }

    #{$r}_expanded & {
      @include colors.themed-bg(4) using ($color) {
        border: 1px solid $color;
      }
    }
  }

  &__active-option-icon {
    margin-left: 10px;
  }

  &__options {
    animation: fade-in 300ms;
    position: relative;
    max-height: 300px;
    align-items: center;
    border-radius: 5px;
    position: absolute;

    @include colors.themed-bg(1) using ($color) {
      background: $color;
    }

    @include colors.themed-bg(4) using ($color) {
      border: 1px solid $color;
    }
  }

  &__option {
    $option: &;
    position: relative;
    padding: 2px 5px;
    cursor: pointer;

    &:not(&_active):hover {
      @include colors.themed-rule('light') {
        background: lighten(colors.get('light', 'accent-primary'), 30%);
      }

      @include colors.themed-rule('dark') {
        background: darken(colors.get('dark', 'accent-primary'), 30%);
      }
    }

    &_active {
      @include colors.themed-color('accent-primary') using ($color) {
        background: $color;
      }
    }

    #{$option}_active &-text {
      color: white;
    }
  }
}
