@use "style/colors";

.checkbox {
  $r: &;

  width: fit-content;
  padding: 2px;
  cursor: pointer;
  border-radius: 3px;

  @include colors.themed-bg(3) using ($color) {
    border: 2px solid $color;
  }

  &_checked {
    @include colors.themed-color('accent-primary') using ($color) {
      background: $color;
    }
  }

  &__check {
    visibility: hidden;

    @include colors.themed-color('fg-primary') using ($color) {
      color: $color;
    }

    #{$r}_checked & {
      visibility: visible;
    }
  }
}
