@use "style/colors";

.checkbox {
  $r: &;

  cursor: pointer;
  display: flex;
  align-items: center;

  &__box {
    padding: 2px;
    border-radius: 3px;

    @include colors.themed-bg(3) using ($color) {
      border: 2px solid $color;
    }

    #{$r}_checked & {
      @include colors.themed-color('accent-primary') using ($color) {
        background: $color;
      }
    }
  }

  &__check {
    visibility: hidden;

    @include colors.themed-color('fg-on-accent-primary') using ($color) {
      color: $color;
    }

    #{$r}_checked & {
      visibility: visible;
    }
  }
}
