@use "style/colors";

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__sidebar-and-content {
    transition: background 300ms;
    height: 100%;
    display: flex;

    @include colors.themed-bg(1) using ($color) {
      background: $color;
    }
  }

  &__sidebar {
    transition: background 300ms;
    width: 200px;
    height: 100%;
    padding: 10px;

    @include colors.themed-bg(2) using ($color) {
      background: $color;
    }
  }

  &__content {
    padding: 10px;
  }
}
